External/quick-search-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="quick-search-config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="quick-search" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="quick-search-category" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="mapServerUrl" type="xs:string" use="optional"/>
                  <xs:attribute name="title" type="xs:string" use="required"/>
                  <xs:attribute name="layer-name" type="xs:string" use="required"/>
                  <xs:attribute name="idField-name" type="xs:string" use="required"/>
                  <xs:attribute name="field-name" type="xs:string" use="required"/>
                  <xs:attribute name="buffer" type="xs:decimal" use="optional" default="0"/>
                  <xs:attribute name="maximum-results" type="xs:integer" use="optional" default="2000"/>
                  <xs:attribute name="group" type="xs:string" use="optional"/>
                  <xs:attribute name="additional-fields" type="NO_WHITESPACE_TYPE" use="optional"/>
                  <xs:attribute name="where-expression" type="xs:string" use="optional"/>
                  <xs:attribute name="highlight-features" type="BOOLEAN_TYPE" use="optional" default="true"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="title" type="xs:string" use="required"/>
            <xs:attribute name="defaultMapServerUrl" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="BOOLEAN_TYPE">
    <xs:restriction base="xs:token">
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NO_WHITESPACE_TYPE">
    <xs:restriction base="xs:token">
      <xs:pattern value="\S+"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
